<h1>New Task</h1>
<%= form_for @task do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <%= t.label :details %>
  <%= t.text_field :details %>
  <%= t.submit "Add new task"%>
<% end %>


<%# <form action="/tasks" method="post">
  <label for="title">Title</label>
  <input type="text" name="title">
  <label for="details">Details</label>
  <input type="text" name="details">
  <input type="submit">
</form> %>
